@model UserRequest

<form id="user-form">
    <div>
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input type="text" asp-for="FirstName" required maxlength="50" class="form-control"/>
    </div>
    <div>
        <label asp-for="LastName" class="form-label">First Name</label>
        <input type="text" asp-for="LastName" required maxlength="50" class="form-control"/>
    </div>
</form>